@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}
body {
  cursor: none;
}

/* Optional: Show the default cursor on buttons and links for better usability */
button, a {
  cursor: pointer;
}